{{ $ := .root }}
{{ $page := .page }}
{{ $class_len := len (where $.Site.Pages "Type" "teaching") }}

<!-- Publications widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
    {{ if gt $class_len $page.Params.count }}
    <p class="view-all">
      <a href="{{ "/teaching/" | relLangURL }}">
        {{ i18n "more_teaching" | markdownify }}
        <i class="fa fa-angle-double-right"></i>
      </a>
    </p>
    {{ end }}
  </div>
  <div class="col-xs-12 col-md-8">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}
    
    <ul class="ul-course fa-ul">
      {{ range first 5 (where $.Site.Pages "Type" "teaching") }}
      {{ partial "teaching_li" . }}
      {{ end }}
    </ul>
  </div>
</div>
