{{- define "main" -}}

{{ partial "page_header.html" . }}

{{ if .Params.header.image }}
<div class="article-header">
  <img src="{{ "/img/" | relURL }}/{{ .Params.header.image }}" class="article-banner" itemprop="image">
  {{ with .Params.header.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
</div>
{{end}}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ .Title | default (i18n "teaching") }}</h1>

      {{ with .Content }}
      <div class="article-style" itemprop="articleBody">{{ . }}</div>
      {{ end }}

      <div id="container-publications">
        {{ range .Pages.ByDate.Reverse }}

        <div class="grid-sizer col-md-12 isotope-item">
<!--
          <i class="fa fa-file-text-o" aria-hidden="true"
             style="color:#03396c;font-size:80%;padding-top:6px; padding-right: 10px;"></i>
-->
			{{ .Title }}
          <p>{{ partial "publication_links" (dict "content" . "is_list" 1) }}</p>
        </div>

        {{ end }}
      </div>

    </div>
  </div>
</div>
{{- end -}}
